
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: "Roboto", serif;
}
.active {
    color:#ce7852 !important;
    font-weight: 700;
    
}

/* Dark mode dropdown styles */

.custom-dropdown .ant-dropdown-menu {
    width: 150px !important;
    
  }
  
  .dark .custom-dropdown .ant-dropdown-menu {
    background-color: #17202d !important; 
    color: white !important; 
    
  }
  
  
  .dark .custom-dropdown .ant-dropdown-menu-item {
    color: white !important; 
   
  }
  
  
  .dark .custom-dropdown .ant-dropdown-menu-item:hover {
    background-color: #1e293b !important;
  }

  /* styles for swiper navigation arrow */

  :root {
    --swiper-navigation-color: #52B788;
  }
